<div class="container">
  <p class="text-brand-300 my-4">Alpha State member since January 2025</p>
  <p class="text-brand-400 mb-4">883 Followers * 1K Followers</p> 
  <%= link_to "", class: "flex gap-2 text-brand-300 cursor-pointer" do %>
    <p>Connect with Jessica Stillman</p>
    <%= image_tag 'x.svg' %>
  <% end %>
</div>