<div>
    <%= render 'shared/header' %>
    <button class="bg-blue-600 px-4 py-2 rounded-md font-medium text-white hover:bg-blue-900 transition-all duration-300 focus:ring-2 focus:ring-blue-800">Click</button>
</div>