<div class='container'>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ducimus impedit itaque hic excepturi, dolorum at id, molestias obcaecati distinctio natus, doloremque nam. Rem eaque dolor aut reprehenderit, ullam commodi?</p>
    <% @articles.each do |article|%>
        <%= link_to article.title, article, class: 'block text-blue-600'%>
    <% end %>
</div>
